@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import '~@fortawesome/fontawesome-free/css/all.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins';
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
 
}

nav{
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 2rem;
}

.store-header {
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.home-image{
  size-adjust: 20px;
}

.store-header:hover{
  transform: scale(1.1);
}

.Bfont {
  color: #f71212;
}

.nav-Link {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav-Link:hover,
.nav-Link.active{
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

.NYC2-image {
  border-radius: 50%;
  position: relative;
  width: 32vW;
  box-shadow: 0 0 25px sc;
  cursor: pointer;
  transition: 0.2s linear;
}

.NYC2-image:hover {
  transform: scale(1.1);
}

.scoial-icon a{
  display: block;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid;
  border-radius: 50%;
  margin:  3rem 1.5rem;
}

@media(max-width:995px){

  .navigate {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #b74b4b;
    border-bottom: 3px solid #b74b4b;
    padding: 1rem solid;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0,0,0,0.1);
    display: grid;
    font-size: 2rem;
    margin: 3rem 0;
    
  }

  .navigate.active{
    display: block;
  }

  .navigate:hover,
  .nnavigate.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
  }
}

section{
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}

.home h1{
  font-size: 5rem;
}

.home h2{
  font-size: 3rem;
}

.home img{

}